/* You can add global styles to this file, and also import other style files */
/* transform: scale(0.98); */

html, body { height: 100%; background-color: black; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body { margin: 0; font-family: Arial, Helvetica, sans-serif;  transform: scale(0.98); } 
mat-dialog-container {
    background-color: black !important;
 }
